<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Landmark</title>
  </head>
  <body>
    <h1>New Landmark</h1>
    <form action="/landmarks" method="POST">
      <input type="text" placeholder="Landmark Name" name="landmarks[name]"/>
      <input type="text" placeholder="Year Completed" name="landmarks[year_completed]"/>
      <input type="text" placeholder="Figure ID" name="landmarks[figure_id]"/>
      <input type="Submit" id="Submit"/>
    </form>
      <h4><a href='/landmarks'>BACK</a>

  </body>
</html>
