<table>
  <tr>
    <th>Name</th>
    <th>Year Completed</th>
  </tr>
  <tr>
    <td><%= @landmark.name %></td>
    <td><%= @landmark.year_completed %></td>
  </tr>

  <h4><a href='/landmarks'>BACK</a></h4>
  <h5><a href='/landmarks/<%= @landmark.id %>/edit'>EDIT</a></h5>
<table>
